#noNotesMessage {
  display: none;
  text-align: center;
  color: white;
}
.remove-favorite {
  border: 1px solid var(--background-);
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.remove-favorite:hover {
  background-color: var(--background-);
  border: none;
  color: #000;
}

#favoritesList{
  padding: 20px;
  color: #fff;
}

#favoritesList h2{
  color: var(--background-);
  font-size: 24px;
}

#favoritesList h3{
  color: var(--background-);
  font-size: 24px;
}

#favoritesList h3 span{
  font-size: 16px;
  color: #fff;
}
.note-item {
  cursor: pointer;
  transition: background-color 0.3s;
  list-style-type: none;
  position: relative;
  padding-left: 20px;
}
.note-item .content{
  margin-bottom: 0px;
  margin-top: -15px;
}
.note-item::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2em;
  line-height: 1.5em;
  color: var(--background-);
  transition: color 0.3s;
}
.note-item hr {
  border: none;
  border-bottom: 1px solid white;
  transition: border-color 0.3s;
}

#notesList li:hover + hr {
  border-color: var(--background-);
}
