body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #ff7f50;
}

.backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #ff7f50;
}

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

.canvas-back {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

label {
  font-size: 0.8em;
  text-transform: uppercase;
}

input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 8px 1px;
  margin-top: 0.1em;
}

.left {
  width: 50%;
  height: 100%;
  background: #2c3034;
  left: 0;
  position: absolute;
}
.left label {
  color: #e3e3e3;
}
.left input {
  border-bottom: 1px solid #e3e3e3;
  color: #e3e3e3;
}
.left input:focus,
.left input:active {
  border-color: #ff7f50;
  color: #ff7f50;
}
.left input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2c3034 inset;
  -webkit-text-fill-color: #e3e3e3;
}
.left a {
  color: #ff7f50;
}

.right {
  width: 50%;
  height: 100%;
  background: #f9f9f9;
  right: 0;
  position: absolute;
}
.right label {
  color: #212121;
}
.right input {
  border-bottom: 1px solid #212121;
}
.right input:focus,
.right input:active {
  border-color: #ff7f50;
}
.right input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset;
  -webkit-text-fill-color: #212121;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.content h2 {
  font-weight: 300;
  font-size: 2.6em;
  margin: 0.2em 0 0.1em;
}

.left .content h2 {
  color: #ff7f50;
}

.right .content h2 {
  color: #ff7f50;
}

.form-element {
  margin: 1.6em 0;
}
.form-element.form-submit {
  margin: 1.6em 0 0;
}

.form-stack {
  display: flex;
  flex-direction: column;
}
button {
  padding: 0.9em 1.5em;
  margin: 0 10px 0 0;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.6px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s;
}
button.login {
  background: #ff7f50;
}

button:focus,
button:active,
button:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  gap: 15px;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.show-pass {
  display: flex;
  align-items: center;
  color: #000;
}

.show-pass label {
  color: #000;
  margin-left: 5px;
}

.register {
  margin-top: 10px;
}
.register p {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.register a {
  text-decoration: none;
  color: burlywood;
  font-style: italic;
  font-size: 16px;
  text-transform: lowercase;
}

.checkbox {
  -webkit-appearance: none;
  outline: none;
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.checkbox:focus,
.checkbox:checked:focus,
.checkbox:active,
.checkbox:checked:active {
  border-color: #ff7f50;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checkbox:checked:after {
  outline: none;
  content: "✓";
  color: #ff7f50;
  font-size: 1.4em;
  font-weight: 900;
  position: absolute;
  top: -4px;
  left: 4px;
}
.forgot-password {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
}

.forgot-password a {
  color: burlywood;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}
.cf-turnstile {
  margin-left: 100px;
}
@media (max-width: 768px) {
  #slideBox {
    width: 100%;
    margin-left: 0;
  }
  .backLeft,
  .backRight {
    width: 40%;
  }
  .topLayer {
    width: 100%;
    left: 0;
  }
  .right,
  .left {
    width: 80%;
  }
  button {
    padding: 0.8em 1.2em;
    margin: 0 10px 0 0;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #fff;
    line-height: 1em;
    letter-spacing: 0.3px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    transition: all 0.25s;
  }
  .show-pass label {
    color: #000;
    margin-left: 5px;
    font-size: 10px;
  }

  .register {
    margin-top: 10px;
  }
  .register p {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 100;
  }
}
.message-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px;
  text-align: center;
}
.email-verification-alert {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: red;
}

.messages-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px;
  text-align: center;
}

.alert {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 10px;
}

.alert-success {
  background-color: green;
  color: white;
}

.alert-danger {
  background-color: red;
  color: white;
}
.alert-warning {
  background-color: orange;
  color: #fff;
}

.alert {
  transition: opacity 0.15s linear;
}
.alert.fade {
  opacity: 1;
}
.alert .fas {
  margin-right: 8px;
  color: #fff;
}

.bxs-badge-check {
  font-size: 20px;
}
.resend-verification button {
  background: transparent;
  outline: none;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 17px;
}
.error-message {
  position: absolute;
  top: 20px;
  right: 5px;
  background-color: #e74c3c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  max-width: 300px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.error-message.slide-out {
  opacity: 0;
  transform: translateX(100%);
}

.error-message span {
  margin-right: 4px;
}

.close-icon {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 5px;
}

.resend-link {
  cursor: pointer;
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.resend-link:hover:not(.inactive) {
  background-color: #0056b3; 
}

.resend-link:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
}
@media (max-width: 500px) {
  .alert {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 10px;
  }
}
