.todos {
  padding: 20px;
}
.todos h1 {
  color: var(--background-);
}

#todosList li {
  padding: 10px;
  cursor: pointer;
  content: "•";
  color: var(--background-);
}

#todosList li:hover + hr {
  border-color: var(--background-);
}

.todos p {
  color: #fff;
}
.todo-title {
  color: var(--background-);
  font-size: 20px;
  font-weight: bold;
}
.due-date {
  color: #888 !important;
  font-size: 0.9em;
  margin-left: 10px;
}
#todosList input[type="checkbox"] {
  margin-right: 10px;
}

.todo-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-button,
.edit-button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 1px solid var(--background-);
  padding: 11px 16px;
  cursor: pointer;
  border-radius: 10px;
}
.todo-actions a {
  text-decoration: none;
}
.delete-button:hover {
  background: red;
  color: #000;
  border: none;
}
.edit-button:hover {
  background: var(--background-);
  color: #000;
}
