<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password | NoteWave</title>
    <meta
      name="description"
      content="Recover your NoteWave account by resetting your password."
    />
    <meta
      name="keywords"
      content="NoteWave, Forgot Password, Account Recovery, Productivity"
    />
    <link
    rel="icon"
    href="{{ url_for('static', filename='img/notewave.ico') }}"
    type="image/x-icon"
  />
    <meta name="author" content="NoteWave Team" />
    <!-- Meta Tags for Social Media -->
    <meta property="og:title" content="Forgot Password | NoteWave" />
    <meta
      property="og:description"
      content="Recover your NoteWave account by resetting your password."
    />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='images/logo.png') }}"
    />
    <meta
      property="og:url"
      content="https://www.notewave.com/forgot-password"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Forgot Password | NoteWave" />
    <meta
      name="twitter:description"
      content="Recover your NoteWave account by resetting your password."
    />
    <meta
      name="twitter:image"
      content="{{ url_for('static', filename='images/logo.png') }}"
    />
    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/forgot.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="form-container">
      <div class="col col-1">
        <div class="black-box">
          <i class="bx bx-left-arrow-alt left-arrow" aria-label="Previous"></i>
          <i class="bx bx-right-arrow-alt right-arrow" aria-label="Next"></i>
          <div class="main-info">
            <p>Arrange. Streamline. Simplify</p>
          </div>
          <div id="notepad-info">
            <div class="info-section">
              <h3>Create, edit, and save</h3>
              <p>Your notes online with our easy-to-use online notepad.</p>
            </div>
            <div class="info-section">
              <h3>Access anytime, anywhere</h3>
              <p>Your notes from anywhere, anytime, on any device.</p>
            </div>
            <div class="info-section">
              <h3>Collaborate in real-time</h3>
              <p>
                With others by sharing your notes and working together in
                real-time.
              </p>
            </div>
          </div>
          <div class="indicator-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div class="loader" id="loading-spinner" style="display: none"></div>

        <div class="logo">
          <p>Note<span>wave.</span></p>
        </div>
        <form
          id="form-forgot"
          method="POST"
          action="{{ url_for('auth.forgot_password') }}"
        >
          <div class="form-forgot">
            <div class="form-title">
              <p>Forgot Password</p>
            </div>
            <div class="how_done">
              <p>
                Please provide the same email address that you used when you
                were creating an account on NoteWave. <br /><br />

                <span>
                  A password reset link will be sent to your account.</span
                >
              </p>
            </div>
            <div class="form-inputs">
              <div class="input-box">
                <label for="email" class="form-label"
                  ><i class="bx bx-envelope icon"></i> Email</label
                >
                <input
                  id="email"
                  name="email"
                  class="input-field"
                  aria-required="true"
                  aria-label="Email"
                />
              </div>

              <div class="input-box">
                <button class="submit" id="forgot" type="submit" name="forgot">
                  <span>Request Password Reset Link</span>
                  <i class="bx bx-right-arrow-alt"></i>
                </button>
              </div>
              <div class="back">
                <p>
                  Remembered Password?
                  <a href="/auth/login">Click here</a>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/forgot.js') }}"></script>
  </body>
</html>