<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | NoteWave</title>
    <meta
      name="description"
      content="Login to NoteWave to access your notes and more."
    />
    <meta name="keywords" content="NoteWave, Login, Notes, Productivity" />
    <meta name="author" content="NoteWave Team" />
    <!-- Meta Tags for Social Media -->
    <meta property="og:title" content="Login | NoteWave" />
    <meta
      property="og:description"
      content="Login to NoteWave to access your notes and more."
    />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='images/logo.png') }}"
    />
    <meta property="og:url" content="https://www.notewave.com/login" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Login | NoteWave" />
    <meta
      name="twitter:description"
      content="Login to NoteWave to access your notes and more."
    />
    <meta
      name="twitter:image"
      content="{{ url_for('static', filename='images/logo.png') }}"
    />
    <link
    rel="icon"
    href="{{ url_for('static', filename='img/notewave.ico') }}"
    type="image/x-icon"
  />
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

  </head>
  <body>
    <div class="messages-container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {% if category == 'success' %}
        <i class="fas fa-check-circle"></i>
        {% else %}
        <i class="fas fa-times-circle"></i>
        {% endif %} {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
    <div class="form-container">
      <div class="col col-1">
        <div class="black-box">
          <i class="bx bx-left-arrow-alt left-arrow" aria-label="Previous"></i>
          <i class="bx bx-right-arrow-alt right-arrow" aria-label="Next"></i>
          <div class="main-info">
            <p>Arrange. Streamline. Simplify</p>
          </div>
          <div id="notepad-info">
            <div class="info-section">
              <h3>Create, edit, and save</h3>
              <p>Your notes online with our easy-to-use online notepad.</p>
            </div>
            <div class="info-section">
              <h3>Access anytime, anywhere</h3>
              <p>Your notes from anywhere, anytime, on any device.</p>
            </div>
            <div class="info-section">
              <h3>Collaborate in real-time</h3>
              <p>
                With others by sharing your notes and working together in
                real-time.
              </p>
            </div>
          </div>
          <div class="indicator-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div class="loader" id="loading-spinner" style="display: none"></div>

        <div class="logo">
          <p>Note<span>wave.</span></p>
        </div>
        <form id="form-login" method="POST" action="{{ url_for('auth.login') }}">
          <div class="form-login">
              <div class="form-title">
                  <p>Welcome Back to NoteWave.</p>
              </div>
              <div class="form-inputs">
                  <div class="input-box">
                      <label for="email" class="form-label"><i class="bx bx-envelope icon"></i> Email</label>
                      <input id="email" name="email" class="input-field" aria-required="true" aria-label="Email" required />
                  </div>
                  <div class="input-box">
                      <label for="password-login" class="form-label"><i class="bx bx-lock-alt icon"></i> Password</label>
                      <input type="password" id="password-login" name="password-login" class="input-field" aria-required="true" aria-label="Password" required />
                      <div id="password-strength" aria-live="polite"></div>
                  </div>

                  <div class="container1">
                      <div class="show-pass">
                          <input type="checkbox" id="show-pass-checkbox" />
                          <label for="show-pass-checkbox">Show Password</label>
                      </div>
                      <div class="forgot-password">
                          <a href="/auth/forgot-password">Forgot Password?</a>
                      </div>
                  </div>
                  <div class="register">
                      <p>Don't have an account? <a href="/auth/sign_up">Click here</a></p>
                  </div>
                  <div class="input-box">
                      <button class="submit" id="login" type="submit" name="login">
                          <span>Sign In</span>
                          <i class="bx bx-right-arrow-alt"></i>
                      </button>
                  </div>
              </div>
          </div>
      </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>
