<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Email Sent | NoteWave</title>
    <meta
      name="description"
      content="An email with instructions to reset your password has been sent. Please check your inbox."
    />
    <meta
      name="keywords"
      content="NoteWave, Password Reset, Email Sent, Account Recovery, Productivity"
    />
    <meta name="author" content="NoteWave Team" />
    <!-- Meta Tags for Social Media -->
    <meta property="og:title" content="Password Reset Email Sent | NoteWave" />
    <meta
      property="og:description"
      content="An email with instructions to reset your password has been sent. Please check your inbox."
    />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='images/logo.png') }}"
    />
    <meta
      property="og:url"
      content="https://www.notewave.com/password-reset-email-sent"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Password Reset Email Sent | NoteWave" />
    <meta
      name="twitter:description"
      content="An email with instructions to reset your password has been sent. Please check your inbox."
    />
    <meta
      name="twitter:image"
      content="{{ url_for('static', filename='images/logo.png') }}"
    />
    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/notewave.ico') }}"
      type="image/x-icon"
    />
    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/password_reset.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Password Reset Email Sent</h1>
      <p>
        An email with instructions to reset your password has been sent to your
        inbox. Please check your email and follow the provided instructions.
      </p>
      <div class="button-container">
        <form
          action="{{ url_for('auth.resend_password_reset') }}"
          method="POST"
          id="resendForm"
        >
          <input type="hidden" name="email" value="{{ user.email }}" />
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="submit" class="button" id="resendButton">
            Resend Email
          </button>
        </form>

        <a href="{{ url_for('auth.login') }}" class="button">Return to Login</a>
      </div>
    </div>
    <script>
      const form = document.getElementById("resendForm");
      const resendButton = document.getElementById("resendButton");
      form.addEventListener("submit", function () {
        resendButton.disabled = true;
        resendButton.innerText = "Sending...";
      });
    </script>
  </body>
</html>
