<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password | NoteWave</title>
    <meta
      name="description"
      content="Reset your password to regain access to your NoteWave account."
    />
    <link
    rel="icon"
    href="{{ url_for('static', filename='img/notewave.ico') }}"
    type="image/x-icon"
  />
    <meta
      name="keywords"
      content="NoteWave, Reset Password, Account Recovery, Productivity"
    />
    <meta name="author" content="NoteWave Team" />
    <!-- Meta Tags for Social Media -->
    <meta property="og:title" content="Reset Password | NoteWave" />
    <meta
      property="og:description"
      content="Reset your password to regain access to your NoteWave account."
    />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='images/logo.png') }}"
    />
    <meta property="og:url" content="https://www.notewave.com/reset-password" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Reset Password | NoteWave" />
    <meta
      name="twitter:description"
      content="Reset your password to regain access to your NoteWave account."
    />
    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="form-container">
      <div class="col col-1">
        <div class="black-box">
          <i class="bx bx-left-arrow-alt left-arrow" aria-label="Previous"></i>
          <i class="bx bx-right-arrow-alt right-arrow" aria-label="Next"></i>
          <div class="main-info">
            <p>Arrange. Streamline. Simplify</p>
          </div>
          <div id="notepad-info">
            <div class="info-section">
              <h3>Create, edit, and save</h3>
              <p>Your notes online with our easy-to-use online notepad.</p>
            </div>
            <div class="info-section">
              <h3>Access anytime, anywhere</h3>
              <p>Your notes from anywhere, anytime, on any device.</p>
            </div>
            <div class="info-section">
              <h3>Collaborate in real-time</h3>
              <p>
                With others by sharing your notes and working together in
                real-time.
              </p>
            </div>
          </div>
          <div class="indicator-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div class="loader" id="loading-spinner" style="display: none"></div>

        <div class="logo">
          <p>Note<span>wave.</span></p>
        </div>
        <form
          id="form-reset"
          method="POST"
          action="{{ url_for('auth.reset_password', token=token) }}"
        >
          <div class="form-reset">
            <div class="form-title">
              <p>Reset Password</p>
            </div>
            <div class="form-inputs">
              <div class="input-box">
                <label for="email" class="form-label"
                  ><i class="bx bx-lock-alt icon"></i> Password</label
                >
                <input
                  id="password"
                  name="password"
                  class="input-field"
                  aria-required="true"
                  aria-label="password"
                  type="password"
                />
              </div>
              <div class="input-box">
                <label for="password" class="form-label"
                  ><i class="bx bx-lock-alt icon"></i>Confirm Password</label
                >
                <input
                  type="password"
                  id="confirm_password"
                  name="confirm_password"
                  class="input-field"
                  aria-required="true"
                  aria-label="Confirm-Password"
                />
              </div>
              <div class="container1">
                <div class="show-pass">
                  <input type="checkbox" id="show-pass-checkbox" />
                  <label for="show-pass-checkbox">Show Password</label>
                </div>

                <div class="input-box">
                  <button class="submit" id="reset" type="submit" name="reset">
                    <span>Reset Password</span>
                    <i class="bx bx-right-arrow-alt"></i>
                  </button>
                </div>
                <div id="password-checklist" class="checklist-container">
                  <ul>
                    <li>
                      <input type="checkbox" id="check-length" disabled /><label
                        for="check-length"
                      >
                        At least 8 characters</label
                      >
                    </li>
                    <li>
                      <input
                        type="checkbox"
                        id="check-uppercase"
                        disabled
                      /><label for="check-uppercase">
                        At least one uppercase letter</label
                      >
                    </li>
                    <li>
                      <input
                        type="checkbox"
                        id="check-lowercase"
                        disabled
                      /><label for="check-lowercase">
                        At least one lowercase letter</label
                      >
                    </li>
                    <li>
                      <input type="checkbox" id="check-number" disabled /><label
                        for="check-number"
                      >
                        At least one number</label
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/reset.js') }}"></script>
  </body>
</html>