<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setting</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/setting.css') }}"
    />
  </head>
  <body>
    <main>
      <div class="main-content">
        <nav class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item">
              <button class="navbar-link active" data-nav-link>Account</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Notification</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Billing</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Privacy</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Data Management</button>
            </li>
          </ul>
        </nav>

        <article class="about active" id="about">
          <header>
            <h2 class="h2 article-title">Account</h2>
          </header>
          <section class="about-text">
            <p>
              Personal Information <br />
              <small>Use a permanent address where you can receive mail.</small>
            </p>
            <div class="fields">
              <figure class="avatar-box">
                {% if current_user.profile_picture %}
                <img
                  src="/static/profile_pics/{{ current_user.profile_picture }}"
                  alt="Profile Picture"
                  class="profile-image"
                />
                {% else %}
                <i
                  class="fas fa-5x"
                  style="--background-color: {{ current_user.generated_color }}"
                  >{{ current_user.first_name[0] }}</i
                >
                {% endif %}
              </figure>
              <div class="form-place">
                <p class="avatar-controls">
                  <button class="update-profile">Change avatar</button>
                  <small>JPG, GIF, PNG, 5MB max</small>
                </p>
                <!-- <br /> -->
                <div class="form">
                  <form action="">
                    <div class="names">
                      <div class="name-field">
                        <label for="firstName">First Name:</label>
                        <input
                          type="text"
                          id="firstName"
                          name="firstName"
                          value="{{ current_user.first_name }}"
                          style="--background-: {{ current_user.generated_color }}"
                        />
                      </div>
                      <div class="name-field">
                        <label for="secondName">Second Name:</label>
                        <input
                          type="text"
                          id="secondName"
                          name="secondName"
                          value="{{ current_user.second_name }}"
                          style="--background-: {{ current_user.generated_color }}"
                        />
                      </div>
                    </div>
                    <label for="bioInput">Bio</label>
                    <textarea
                      id="bioInput"
                      name="bio"
                      rows="4"
                      cols="50"
                      placeholder="Enter your bio"
                      required
                      readonly
                      style="--background-: {{ current_user.generated_color }}"
                    >
{{current_user.bio}}</textarea
                    >
                    <label for="newEmail">Email:</label>
                    <input
                      type="text"
                      id="newEmail"
                      name="newUsername"
                      value="{{ current_user.email }}"
                      style="--background-: {{ current_user.generated_color }}"
                    />
                    <label for="newUsername">New Username:</label>
                    <input
                      type="text"
                      id="newUsername"
                      name="newUsername"
                      value="@{{ current_user.user_name[1:] }}"
                      style="--background-: {{ current_user.generated_color }}"
                    />
                    <label for="timeZoneSearch">Timezone</label>
                    <input
                      value="{{current_user.time_zone}}"
                      type="text"
                      id="timeZoneSearch"
                      placeholder="Search for a time zone"
                      style="--background-: {{ current_user.generated_color }}"
                    />
                    <label for="dobInput">Date of Birth:</label>
                    <input
                      type="text"
                      id="dobInput"
                      name="date_of_birth"
                      placeholder="Select Date"
                      required
                      value="{{current_user.date_birth}}"
                      style="--background-: {{ current_user.generated_color }}"
                    />
                    <label for="genderSelect">Gender:</label>
                    <select
                      id="genderSelect"
                      name="gender"
                      required
                      style="--background-: {{ current_user.generated_color }}"
                    >
                      <option value="">Select Gender</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Non-Binary">Non-Binary</option>
                    </select>
                    <div class="button-area">
                      <button type="submit" class="submit">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
          <section class="testimonials">
            <h3 class="h3 testimonials-title">Change Password</h3>
            <form
              id="passwordForm"
              action="{{ url_for('auth.update_password') }}"
              method="POST"
            >
              <label for="currentPassword">Current Password:</label>
              <div class="input-container">
                <input
                  type="password"
                  id="currentPassword"
                  name="currentPassword"
                  style="--background-: {{ current_user.generated_color }}"
                />
                <i
                  class="toggle-password fas fa-eye"
                  data-target="#currentPassword"
                ></i>
              </div>
              <div id="currentPasswordError" class="error-message"></div>

              <label for="newPassword">New Password:</label>
              <div class="input-container">
                <input
                  type="password"
                  id="newPassword"
                  name="newPassword"
                  style="--background-: {{ current_user.generated_color }}"
                />
                <i
                  class="toggle-password fas fa-eye"
                  data-target="#newPassword"
                ></i>
              </div>
              <div id="newPasswordError" class="error-message"></div>

              <label for="confirmPassword">Confirm New Password:</label>
              <div class="input-container">
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  style="--background-: {{ current_user.generated_color }}"
                />
                <i
                  class="toggle-password fas fa-eye"
                  data-target="#confirmPassword"
                ></i>
              </div>
              <div id="confirmPasswordError" class="error-message"></div>

              <button
                type="submit"
                style="--background-: {{ current_user.generated_color }}"
              >
                Update Password
              </button>
            </form>
            </section>
        </article>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script>
      "use strict";
      const elementToggleFunc = function (elem) {
        elem.classList.toggle("active");
      };
      const sidebar = document.querySelector("[data-sidebar]");
      const sidebarBtn = document.querySelector("[data-sidebar-btn]");

      sidebarBtn.addEventListener("click", function () {
        elementToggleFunc(sidebar);
      });
      const testimonialsItem = document.querySelectorAll(
        "[data-testimonials-item]"
      );
      const modalContainer = document.querySelector("[data-modal-container]");
      const modalCloseBtn = document.querySelector("[data-modal-close-btn]");
      const overlay = document.querySelector("[data-overlay]");
      const modalImg = document.querySelector("[data-modal-img]");
      const modalTitle = document.querySelector("[data-modal-title]");
      const modalText = document.querySelector("[data-modal-text]");
      const testimonialsModalFunc = function () {
        modalContainer.classList.toggle("active");
        overlay.classList.toggle("active");
      };
      for (let i = 0; i < testimonialsItem.length; i++) {
        testimonialsItem[i].addEventListener("click", function () {
          modalImg.src = this.querySelector("[data-testimonials-avatar]").src;
          modalImg.alt = this.querySelector("[data-testimonials-avatar]").alt;
          modalTitle.innerHTML = this.querySelector(
            "[data-testimonials-title]"
          ).innerHTML;
          modalText.innerHTML = this.querySelector(
            "[data-testimonials-text]"
          ).innerHTML;

          testimonialsModalFunc();
        });
      }
      modalCloseBtn.addEventListener("click", testimonialsModalFunc);
      overlay.addEventListener("click", testimonialsModalFunc);
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const navLinks = document.querySelectorAll("[data-nav-link]");
        const articles = document.querySelectorAll("article");

        navLinks.forEach((link) => {
          link.addEventListener("click", () => {
            navLinks.forEach((btn) => btn.classList.remove("active"));
            link.classList.add("active");
            const targetPage = link.textContent.trim().toLowerCase();
            articles.forEach((article) => (article.style.display = "none"));
            const targetArticle = document.getElementById(targetPage);
            if (targetArticle) {
              targetArticle.style.display = "block";
            }
          });
        });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const filterButtons = document.querySelectorAll("[data-filter-btn]");
        const selectItems = document.querySelectorAll("[data-select-item]");
        const projectItems = document.querySelectorAll("[data-filter-item]");
        const filterSelectButton = document.querySelector("[data-select]");
        const selectValue = document.querySelector("[data-select-value]");
        const selectList = document.querySelector(".select-list");

        // Function to show all projects
        function showAllProjects() {
          projectItems.forEach((item) => {
            item.classList.add("active");
          });
        }

        // Function to filter projects based on category
        function filterProjects(category) {
          projectItems.forEach((item) => {
            if (
              category === "all" ||
              item.getAttribute("data-category") === category
            ) {
              item.classList.add("active");
            } else {
              item.classList.remove("active");
            }
          });
        }

        // Event listener for filter buttons
        filterButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const category = this.textContent.toLowerCase();

            // Remove active class from all filter buttons and add it to the clicked button
            filterButtons.forEach((btn) => btn.classList.remove("active"));
            this.classList.add("active");

            // Filter projects based on the selected category
            if (category === "all") {
              showAllProjects();
            } else {
              filterProjects(category);
            }

            // Update the select button's text for small screens
            selectValue.textContent = this.textContent;
            selectList.classList.remove("active");
          });
        });

        // Event listener for select items
        selectItems.forEach((item) => {
          item.addEventListener("click", function () {
            const category = this.textContent.toLowerCase();

            // Remove active class from all filter buttons and add it to the selected button
            filterButtons.forEach((btn) => btn.classList.remove("active"));
            const selectedButton = [...filterButtons].find(
              (btn) => btn.textContent.toLowerCase() === category
            );
            if (selectedButton) selectedButton.classList.add("active");

            // Filter projects based on the selected category
            if (category === "all") {
              showAllProjects();
            } else {
              filterProjects(category);
            }

            // Update the select button's text
            selectValue.textContent = this.textContent;

            // Close the select dropdown
            selectList.classList.remove("active");
          });
        });

        // Toggle select list visibility when the filter select button is clicked
        filterSelectButton.addEventListener("click", function () {
          selectList.classList.toggle("active");
        });

        // Show all projects by default on page load
        showAllProjects();
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("[data-form]");
        const inputs = form.querySelectorAll("[data-form-input]");
        const submitButton = form.querySelector("[data-form-btn]");
        function checkFormValidity() {
          let allFilled = true;
          inputs.forEach((input) => {
            if (input.value.trim() === "") {
              allFilled = false;
            }
          });
          submitButton.disabled = !allFilled;
        }
        inputs.forEach((input) => {
          input.addEventListener("input", checkFormValidity);
        });
        checkFormValidity();
      });
    </script>
  </body>
</html>
